form.pure-form.pure-form-aligned(name="form")
  .pure-control-group
    label(for="email") Email
    input.pure-u-1-4(type="email", name="email", ng-model="user.email", required="", placeholder="Your email")
    div(ng-show="form.email.$dirty && form.email.$invalid")
      small.error(ng-show="form.email.$error.required") Tell us your email
      small.error(ng-show="form.email.$error.email") This is not a valid email
  .pure-control-group
    label.right.inline Password:
    input.pure-u-1-4(type="password", name="password", ng-model="user.password", required="", placeholder="Your password")
    div(ng-show="form.password.$dirty && form.password.$invalid")
      small.error(ng-show="form.password.$error.required") Tell us your password
      small.error(ng-show="form.password.$error.password") This is not a valid password
  .pure-controls
    button.pure-button.pure-button-primary(ng-click="post(user)", ng-disabled="form.$invalid") Signup
