.pure-u-1
  h1 "Allo, "Allo!
  p You now have
  ul
    li(ng-repeat="thing in awesomeThings") {{thing}}
  h3 Enjoy coding! - Yeoman
  a.pure-button.pure-button-primary(href="#/signup") Sign Up
  a.pure-button.pure-button-primary(href="#/signin") Sign In